<div class="card mb-3">
    <div class="card-header">
        <h4>Performance Monitoring</h4>
    </div>
    <div class="card-body">
        <!-- Visualization of Data Storage -->
        <canvas id="databaseUsageChart"></canvas>
    </div>
</div>

<!-- Real-time monitoring interface -->
<!-- Graphs and alerts for performance metrics -->

<div class="card mb-3">
    <div class="card-header">
        <h4>Automated Pruning Setup</h4>
    </div>
    <div class="card-body">
        <form ng-submit="submitPruningConfig()">

            <div class="form-group">
                <label for="dayOfMonth"><b>Day of the Month (0-30):</b></label>
                <input type="number" class="form-control" id="dayOfMonth" ng-model="pruningConfig.dayOfMonth" min="1"
                    max="30">
                <span ng-show="submitAutomatedPruningAttempted && !isValidDayOfMonth()" class="help-block">Please select
                    a valid
                    day.</span>
            </div>

            <div class="form-group">
                <label for="monthsBetweenRuns"><b>Months Between Runs:</b></label>
                <select class="form-control" id="monthsBetweenRuns" ng-model="pruningConfig.monthsBetweenRuns">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="6">6</option>
                    <option value="12">12</option>
                </select>
                <span ng-show="submitAutomatedPruningAttempted && !isValidMonthsBetweenRuns()" class="help-block">Please
                    select a valid
                    number of months.</span>
            </div>

            <div class="form-group">
                <label for="ageThresholdWeeks"><b>How many weeks old data should be pruned?:</b></label>
                <input type="number" class="form-control" id="ageThresholdWeeks"
                    ng-model="pruningConfig.ageThresholdWeeks" min="1">
                <span ng-show="submitAutomatedPruningAttempted && !isValidAgeThresholdWeeks()" class="help-block">Please
                    enter a valid
                    age in weeks.</span>
            </div>

            <div class="form-group">
                <label for="hour"><b>Hour (0-23):</b></label>
                <input type="number" class="form-control" id="hour" ng-model="pruningConfig.hour" min="0" max="23">
                <span ng-show="submitAutomatedPruningAttempted && !isValidHour()" class="help-block">Please enter a
                    valid hour
                    (0-23).</span>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="pruningConfig.deleteFromCustomGraphs"> <b>Delete from Custom
                        Graphs</b>
                </label>
            </div>

            <br>

            <button type="submit" class="btn btn-primary" ng-click="updateAutomatedPruning()">Update Automated Pruning
                Schedule</button>

            <br>
            <br>

            <p ng-show="pruningMessage" class="alert"
                ng-class="{'alert-success': pruningIsSuccess, 'alert-danger': !pruningIsSuccess}">
                {{ pruningMessage }}
            </p>
        </form>
    </div>
</div>


<div class="card mb-3">
    <div class="card-header">
        <h4>Prune On Demand</h4>
    </div>
    <div class="card-body">
        <form ng-submit="pruneOnDemand()">

            <!-- Age Threshold in Weeks -->
            <div class="form-group">
                <label for="ageThresholdWeeksPrune"><b>How many weeks of data should be kept?:</b></label>
                <input type="number" class="form-control" id="ageThresholdWeeksPrune"
                    ng-model="pruneOnDemandConfig.ageThresholdWeeks" min="1">
                <span ng-show="submitPruningOnDemandAttempted && !isValidPruneOnDemandAgeThresholdWeeks()"
                    class="help-block">Please enter a valid age
                    in
                    weeks.</span>
            </div>

            <!-- Delete Custom Graphs -->
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="pruneOnDemandConfig.deleteCustomGraphs"> <b>Delete Custom
                        Graphs</b>
                </label>
            </div>

            <br>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary">Prune Now</button>

            <br>
            <br>

            <p ng-show="pruneOnDemandMessage" class="alert"
                ng-class="{'alert-success': pruneOnDemandIsSuccess, 'alert-danger': !pruneOnDemandIsSuccess}">
                {{ pruneOnDemandMessage }}
            </p>

        </form>
    </div>
</div>



</div>