<div class="card mb-3">
    <div class="card-header">
        <h4>{{ title }}</h4>
    </div>
    <div class="card-body">
        <pagination></pagination>
        <div class="card" ng-repeat="request in table" ng-init="stackTraceLength = request.stack_trace_snapshot.length; maxStackTraceLength = 10" style="margin-bottom: 10px">
            <div class="card-header">
                <div class="d-flex flex-row justify-content-between">
                    <div class="d-flex flex-column">
                        <div class="col-sm">
                            <h6>{{ request.type }}</h6>
                        </div>
                        <div class="col-sm">
                            <h6>Total occurences: {{ request.count }}</h6>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="col-sm">
                            <h6>{{ request.message || "No error message" }}</h6>
                        </div>
                        <div class="col-sm">
                            <h6>
                                Latest: {{ request.latest_timestamp |
                                dateDifference }} | First: {{
                                request.first_timestamp | dateDifference }}
                            </h6>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-column p-1">
                            <button class="btn btn-danger"
                                ng-click="deleteExceptionById(request.stack_trace_snapshot_id)">
                                Delete
                            </button>
                        </div>
                        <div class="d-flex flex-column p-1">
                            <button class="btn btn-secondary"
                                ng-click="collapseAllDetails(request.stack_trace_snapshot_id)">
                                Collapse
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-hover" width="100%" style="margin: 0" cellspacing="0">
                <tbody>
                    <tr ng-repeat="(index, row) in request.stack_trace_snapshot"
                        ng-if="index === 0 || index >= stackTraceLength - maxStackTraceLength"
                        ng-init="key = getUniqueKey(row.function_definition_id, request.stack_trace_snapshot_id, row.position)">
                        <td style="padding-left: 10px;">
                            <details
                                ng-if="index !== stackTraceLength - maxStackTraceLength || index === 0 || maxStackTraceLength + 1 === stackTraceLength"
                                ng-click="getFunctionById(row.function_definition_id, request.stack_trace_snapshot_id, row.position)"
                                id="details_{{request.stack_trace_snapshot_id}}"> <!-- if only one line is to be cut off, just include it -->
                                <summary>{{ row.filename }} <span style="color: grey;">in</span> {{ row.function_name }}
                                    <span style="color: grey;">at</span> {{ row.line_number }}
                                </summary>
                                <div ng-if="f_def = id2Function[key]">
                                    <pre class="line-numbers" style="white-space: pre"
                                        data-line="{{f_def.exception_line_number+f_def.start_line_number}}"
                                        data-line-offset="{{f_def.start_line_number}}"
                                        data-start="{{f_def.start_line_number}}">
                                    <code class="language-python" ng-attr-id="{{ key }}">{{ f_def.function_code }}</code>
                                </pre>
                                </div>
                            </details>
                            <summary
                                ng-if="index === stackTraceLength - maxStackTraceLength && index !== 0 && maxStackTraceLength + 1 !== stackTraceLength">
                                --- Cut off {{ index }} lines of stack trace ---
                            </summary>                        
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination></pagination>
    </div>
    <endpointdetails></endpointdetails>
</div>