<div>
    <div class="card mb-3">
        <div class="card-header"><h4>Multi Version API Utilization</h4></div>
        <div class="card-body">
            <div id="chart"></div>
        </div>
    </div>


    <div class="row">
        <div class="col-7">
            <div class="card">
                <div class="card-header"><h6>Select the versions and endpoints</h6></div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="versions" class="col-form-label">Select versions (hold shift to select multiple)</label>
                            <select multiple class="form-control" id="versions" ng-model="selectedVersions"
                                    ng-options="item for item in versions"></select>
                        </div>
                        <div class="form-group">
                            <label for="endpoints" class="col-form-label">Select endpoints (hold shift to select multiple)</label>
                            <select multiple class="form-control" id="endpoints" ng-model="selectedEndpoints"
                                    ng-options="item for item in endpoints"></select>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-click="refresh()">Update</button>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-5" style="float: right">
            <div class="card">
                <div class="card-header"><h6>Information</h6></div>
                <div class="card-body">
                    <b>Graph</b>
                    <p> You can hover the graph with your mouse to see the actual values. You can also use
                        the buttons at the top of the graph to select a subset of graph, scale it accordingly
                        or save the graph as a PNG image.</p>
                    <b>Axes</b>
                    <p>The X-axis presents the versions that are used. The Y-axis presents the
                        endpoints that are found in the Flask application.</p>
                    <b>Content</b>
                    <p>The color of the cell presents the distribution of the amount of requests that the
                        application received in a single version for a single endpoint. The darker the cell,
                        the more requests a certain endpoint has processed in that version. Since it displays
                        the distribution of the load, each column sums up to 100%. This information can be
                        used to validate which endpoints processes the most requests.</p>
                </div>
            </div>
        </div>
    </div>
</div>