<!DOCTYPE HTML>
<html>
<head>
    <title>Dashboard for automatic monitoring of python web services</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <!--[if lte IE 8]><script src="{{ url_for('dashboard.static', filename='assets/js/ie/html5shiv.js') }}"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ url_for('dashboard.static', filename='assets/css/main.css') }}"/>
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ url_for('dashboard.static', filename='assets/css/ie9.css') }}" />
    <![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ url_for('dashboard.static', filename='assets/css/ie8.css') }}" />
    <![endif]-->
</head>
<body>
<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Banner -->
            <section id="banner">
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
            </section>
        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">
        <div class="inner">

            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>
                <ul>
                    <li><a href="{{ url_for('dashboard.rules') }}">
                        {% if curr == 1 %}
                            &#8594; <b>Rules</b>
                        {% else %}
                            Rules
                        {% endif %}
                    </a></li>
                    <li><a href="{{ url_for('dashboard.measurements') }}">
                        {% if curr == 2 %}
                            &#8594; <b>Measurements</b>
                        {% else %}
                            Measurements
                        {% endif %}
                    </a></li>
                    <li><a href="{{ url_for('dashboard.testmonitor') }}">
                        {% if curr == 3 %}
                            &#8594; <b>Test monitor</b>
                        {% else %}
                            Test monitor
                        {% endif %}
                    </a></li>
                    <li><a href="{{ url_for('dashboard.settings') }}">
                        {% if curr == 4 %}
                            &#8594; <b>Settings</b>
                        {% else %}
                            Settings
                        {% endif %}
                    </a></li>
                    {% if session.get(link + '_logged_in') %}
                        <li><a href="{{ url_for('dashboard.logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="{{ url_for('dashboard.static', filename='assets/js/skel.min.js') }}"></script>
<script src="{{ url_for('dashboard.static', filename='assets/js/util.js') }}"></script>
<!--[if lte IE 8]><script src="{{ url_for('dashboard.static', filename='assets/js/ie/respond.min.js') }}"></script>
<![endif]-->
<script src="{{ url_for('dashboard.static', filename='assets/js/main.js') }}"></script>
</body>
</html>