<!DOCTYPE HTML>
<html>
	<head>
		<title>Dashboard for automatic monitoring of python web services</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="{{ url_for('dashboard.static', filename='assets/js/ie/html5shiv.js') }}"></script><![endif]-->
		<link rel="stylesheet" href="{{ url_for('dashboard.static', filename='assets/css/main.css') }}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ url_for('dashboard.static', filename='assets/css/ie9.css') }}" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ url_for('dashboard.static', filename='assets/css/ie8.css') }}" /><![endif]-->
        <script src="{{ url_for('dashboard.static', filename='assets/js/sort.js') }}"></script>
	</head>
	<body>
        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Main -->
            <div id="main">
                <div class="inner">

                    <!-- Banner -->
                    <section id="banner">
                        <div class="content">
                            {% block content %}{% endblock %}
                        </div>
                    </section>
                </div>
            </div>

            <!-- Sidebar -->
            <div id="sidebar">
                <div class="inner">

                    <!-- Menu -->
                    <nav id="menu">
                        <header class="major">
                            <h2>Menu</h2>
                        </header>
                        <ul>
                            <li><a href="{{ url_for('dashboard.index') }}">Homepage</a></li>
                            <li><a href="{{ url_for('dashboard.how_to_install') }}">How to install</a></li>
                            <li><a href="{{ url_for('dashboard.how_to_use') }}">How to use</a></li>
                            <li><span class="opener">Dashboard</span>
                                <ul>
                                    <li><a href="{{ url_for('dashboard.rules') }}">Rules</a></li>
                                    <li><a href="{{ url_for('dashboard.measurements') }}">Measurements</a></li>
                                    <li><a href="{{ url_for('dashboard.testmonitor') }}">Test monitor</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ url_for('dashboard.settings') }}">Settings</a></li>
                            {% if session.get(link + '_logged_in') %}
                                <li><a href="{{ url_for('dashboard.logout') }}">Logout</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Scripts -->
        <script src="{{ url_for('dashboard.static', filename='assets/js/jquery.min.js') }}"></script>
        <script src="{{ url_for('dashboard.static', filename='assets/js/skel.min.js') }}"></script>
        <script src="{{ url_for('dashboard.static', filename='assets/js/util.js') }}"></script>
        <!--[if lte IE 8]><script src="{{ url_for('dashboard.static', filename='assets/js/ie/respond.min.js') }}"></script><![endif]-->
        <script src="{{ url_for('dashboard.static', filename='assets/js/main.js') }}"></script>
	</body>
</html>
