{% extends "default.html" %}
{% block content %}
<header>
    <h1>Dashboard</h1>
    <p>A dashboard for automatic monitoring of python web services</p>
</header>

<h2>Execution times of endpoints</h2>
<table class="sortable">
    <tr>
        <th class="clickable">Endpoint</th>
        <th class="clickable">Hits</th>
        <th class="clickable">Last accessed</th>
        <th class="clickable">Average execution time (in ms)</th>
        <th>Graph</th>
    </tr>
    {% for record in times %}

        <tr>
            <td style="max-width: 200px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{ record.endpoint }}</td>
            <td style="text-align: right;">{{ record.count }}</td>
            {% for a in access %}
                {% if record.endpoint == a.endpoint %}
                    <td>{{ "{:%Y-%m-%d %H:%M:%S }".format(a.last_accessed) if a.last_accessed }}</td>
                {% endif %}
            {% endfor %}
            <td style="text-align: right;">{{ ((record.average*10)|round)/10 }}</td>
            <td><a href="{{ url_for('dashboard.show_graph', end=record.endpoint) }}">Show graph</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock %}