{% extends "default.html" %}
{% block content %}
<header>
    <h1>Dashboard</h1>
    <p>A dashboard for automatic monitoring of python web services</p>
</header>

<h2>Execution times of endpoints</h2>
<table id="sortable">
    <tr>
        <th class="clickable" onclick="sortTable(0)">Endpoint</th>
        <th class="clickable" onclick="sortTable(1)">Hits</th>
        <th class="clickable" onclick="sortTable(2)">Last accessed</th>
        <th class="clickable" onclick="sortTable(3)">Average execution time</th>
        <th>Graph</th>
    </tr>
    {% for record in times %}


        <tr>
            <td>{{ record.endpoint }}</td>
            <td>{{ record.count }}</td>
            {% for a in access %}
                {% if record.endpoint == a.endpoint %}
                    <td>{{ "{:%Y-%m-%d %H:%M:%S }".format(a.last_accessed) }}</td>
                {% endif %}
            {% endfor %}
            <td>{{ ((record.average*10)|round)/10 }} ms</td>
            <td><a href="/{{ link }}/show-graph/{{record.endpoint}}">Show graph</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock %}