recursive-include flask_monitoringdashboard/static *
recursive-include flask_monitoringdashboard/templates *
recursive-include flask_monitoringdashboard/test *
include requirements.txt
include README.md
include docs/changelog.rst
include flask_monitoringdashboard/constants.json