<!--
<div class="container modal-dialog modal-lg" role="document" style="width: 75%">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                {{ selectedSummary.endpoint_name }} - Median
                latency
                {{ selectedAnswer.percentual_diff > 0 ? 'increased' : 'decreased' }}
                by
                {{ selectedAnswer.percentual_diff | abs | number: '1.0-1' }}%
            </h5>
        </div>
        <app-plotly
          [title]="title"
          [axesText]="axesText"
          [contentText]="contentText"
          [graphType]="'chart'"
          [footerCards]="false"
          [graphData]="graphData"/>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="close()">Close
            </button>
        </div>
    </div>
</div>
    -->
<h2 mat-dialog-title>
{{ selectedSummary.endpoint_name }} - Median latency
 {{ selectedAnswer.percentual_diff > 0 ? 'increased' : 'decreased' }}
 by
 {{ selectedAnswer.percentual_diff | abs | number: '1.0-1' }}%
 </h2>
<mat-dialog-content>
  <app-plotly
          [title]="title"
          [axesText]="axesText"
          [contentText]="contentText"
          [graphType]="'chart'"
          [footerCards]="false"
          [graphData]="graphData"/>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="btn btn-secondary" (click)="close()">Close</button>
</mat-dialog-actions>
