<div class="card mb-3">
  <div class="card-header">
    <h4>{{ "Exceptions for " + endpoint?.endpoint }}</h4>
  </div>
  <div class="card-body">
    <app-pagination
      [paginationConfig]="paginationConfig"
      (onPageChange)="onPageChange($event)"
      name="exceptions"
    ></app-pagination>
    @for (request of table; track request) {
      <div
        class="card"
        style="margin-bottom: 10px"
        >
        <div class="card-header d-flex flex-row justify-content-between">
          <div>
            <h6>{{ request.type }}</h6>
            <h6>Number of occurences: {{ request.count }}</h6>
          </div>
          <div>
            <h6>{{ request.message }}</h6>
            <h6>
              Latest: {{ request.latest_timestamp | dateDifference }}
              | First: {{ request.first_timestamp | dateDifference }}
            </h6>
          </div>
          <div class="d-flex gap-2 p-2">
            <button
              class="btn btn-danger rounded"
              ng-click="deleteExceptionByStackTraceId(request.stack_trace_snapshot_id)"
              >
              Delete
            </button>
            <button
              class="btn btn-secondary rounded"
              ng-click="collapseDetailsByStackTraceId(request.stack_trace_snapshot_id)"
              >
              Collapse
            </button>
          </div>
        </div>
        <table
          class="table table-bordered table-hover"
          width="100%"
          style="margin: 0"
          cellspacing="0"
          >
          <tbody>
            @for (row of request.stack_trace_snapshot; track row) {
              <tr>
                <td style="padding-left: 10px">
                  <app-syntax-highlight
                    [line_number]="row.line_number"
                    [file_path]="row.file_path"
                    [full_file_path]="row.full_file_path"
                    [function_name]="row.function_name"
                    [function_start_line_number]="row.function_start_line_number"
                    [function_definition_id]="row.function_definition_id"
                    />
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
    <app-pagination
      [paginationConfig]="paginationConfig"
      (onPageChange)="onPageChange($event)"
      name="exceptions"
    ></app-pagination>
  </div>
  <app-endpoint-details></app-endpoint-details>
</div>
