{% extends "dashboard/dashboard-base.html" %}

{% block subcontent %}
<div class="card mb-3">
  <div class="card-header">{{ title }}</div>
  <div class="card-body">

    <div id="loading">
      <div class="col-md-12 col-sm-12">
        <br>
        <div class="text-center">
          <img src="{{ url_for('dashboard.static', filename='loading.gif') }}"
               alt="Be patient..." align="center"/>
        </div>
      </div>
    </div>
    {% if graph %}
      <div class="col-sm-12">
        {{ graph|safe }}
      </div>
    {% else %}
      <p>No data available.</p>
    {% endif %}
  </div>
</div>

{% endblock %}
{% block script %}
<script>
  $(window).ready(function () {
    $('#loading').hide();
  });
</script>
{% endblock %}