{% extends "base.html" %}
{% set title="Dashboard Overview" %}
{% block content %}

{% block menu %}
{% set url_overview='dashboard.overview' %}
{% set url_heatmap='dashboard.heatmap' %}
{% set url_version_usage='dashboard.version_usage' %}
{% set url_req_endpoint='dashboard.page_number_of_requests_per_endpoint' %}
{% set url_boxplot_version='dashboard.page_boxplot_per_version' %}
{% set url_boxplot_endpoint='dashboard.page_boxplot_per_endpoint' %}

<nav class="navbar navbar-expand-sm navbar-dark" style="background: #343a40; margin-bottom: 15px;">
  <div class="collapse navbar-collapse" id="nav-content">
    <ul class="navbar-nav nav-pills">
      <li class="nav-item">
        <a class="nav-link {{ active_if_is(url_overview) }}" href="{{ url_for(url_overview) }}">
            <span class="nav-link-text">Overview</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ active_if_is(url_heatmap) }}" href="{{ url_for(url_heatmap) }}">
          <span class="nav-link-text">Heatmap of number of requests</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ active_if_is(url_version_usage) }}" href="{{ url_for(url_version_usage) }}">
            <span class="nav-link-text">Version usage</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ active_if_is(url_req_endpoint) }}" href="{{ url_for(url_req_endpoint) }}">
            <span class="nav-link-text">Requests per endpoint</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ active_if_is(url_boxplot_version) }}" href="{{ url_for(url_boxplot_version) }}">
            <span class="nav-link-text">Time per version</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ active_if_is(url_boxplot_endpoint) }}" href="{{ url_for(url_boxplot_endpoint) }}">
            <span class="nav-link-text">Time per endpoint</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block subcontent %}
<div class="card mb-3">
  <div class="card-header">{{ title }}</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" data-page-length="25">
        <thead>
          <tr>
            <th rowspan="2">&nbsp;</th>
            <th rowspan="2">Endpoint</th>
            <th colspan="3" style="text-align: center;">Number of hits</th>
            <th colspan="3" style="text-align: center;">Average execution time (ms)</th>
            <th rowspan="2">Last accessed</th>
            <th rowspan="2">Details</th>
          </tr>
          <tr>
            <th>Today</th>
            <th>Last 7 days</th>
            <th>Overall</th>

            <th>Today</th>
            <th>Last 7 days</th>
            <th>Overall</th>
          </tr>
        </thead>
        <tbody>
        {% for record in times %}
          <tr style="cursor: pointer"
              onclick="window.location='{{ url_for('dashboard.result_heatmap', end=record.endpoint) }}';">
            <td style="background-color: {{ colors[record.endpoint] }}"></td>
            <td style="max-width: 200px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{ record.endpoint }}</td>
            <td style="text-align: right;">
              {% for hits in hits_today %}
                {{ hits.count if hits.endpoint == record.endpoint }}
              {% endfor %}
            </td>
            <td style="text-align: right;">
              {% for hits in hits_last_days %}
                 {{ hits.count if hits.endpoint == record.endpoint }}
              {% endfor %}
            </td>
            <td style="text-align: right;">{{ record.count }}</td>

            <td style="text-align: right;">
              {% for average in average_today %}
                {{ ((average.average*10)|round)/10 if average.endpoint == record.endpoint }}
              {% endfor %}
            </td>
            <td style="text-align: right;">
               {% for average in average_last_days %}
                 {{ ((average.average*10)|round)/10 if average.endpoint == record.endpoint }}
               {% endfor %}
            </td>
            <td style="text-align: right;">{{ ((record.average*10)|round)/10 }}</td>

            {% for a in access %}
              {% if record.endpoint == a.endpoint %}
                <td style="text-align: center;">{{ "{:%Y-%m-%d %H:%M:%S }".format(a.last_accessed) if a.last_accessed }}</td>
              {% endif %}
            {% endfor %}

            <td><a href="{{ url_for('dashboard.result_heatmap', end=record.endpoint) }}"
                   class="btn btn-primary btn-block">Details</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% if is_admin %}
  <div class="card mb-3">
    <div class="card-header">Export data</div>
    <div class="card-body">
      <div class="panel-heading">
        <a href="{{ url_for('dashboard.download_csv') }}"
           class="btn btn-primary btn-sm">Download CSV</a>
        <a href="{{ url_for('dashboard.export_data') }}"
           class="btn btn-primary btn-sm">View CSV</a>
      </div>
    </div>
  </div>
{% endif %}

{% endblock %}
{% endblock %}
