{% extends "base.html" %}
{% block body %}
<body>
<div class="container py-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="text-center">
        <h1>Flask Monitoring Dashboard</h1>
        <hr />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <span class="anchor" id="formLogin"></span>
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Login</h3>
        </div>

        <div class="card-body">
          {% for error in form.errors %}
            <div class="alert alert-danger">
              {{ form.errors[error][0] }}
            </div>
          {% endfor %}

          <form class="form" method="POST">
              {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }}
                {{ form.name(class_="form-control") }}
            </div>

            <div class="form-group">
              {{ form.password.label }}
              {{ form.password(class_="form-control") }}
            </div>

            {{ form.submit(class_="btn btn-primary btn-lg") }}
          </form>
          <hr />

          <div class="text-center">
            For advanced documentation, see <a href="http://flask-monitoringdashboard.readthedocs.io">this site</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}