{% extends "dashboard/measurement.html" %}
{% block subcontent %}
{% block menu %}{% endblock %}
{% set title="All Rules" %}

<div class="card mb-3">
  <div class="card-header">{{ title }}</div>
  <div class="card-body">
    <div class="table-responsive">
      <form id="myForm">
        {{ form.hidden_tag() }}
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" data-page-length="25">
          <thead>
            <tr>
              <th>Color</th>
              <th>Rule</th>
              <th>HTTP Method</th>
              <th>Endpoint</th>
              <th>Last accessed</th>
              <th>Monitor</th>
            </tr>
          </thead>
          <tbody>
            {% for rule in rules %}
              <tr>
                <td style="background-color: {{ colors[rule.endpoint] }}"></td>
                <td style="max-width: 200px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{ rule.rule }}</td>
                <td>{{ ", ".join(rule.methods) }}</td>
                <td style="max-width: 200px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{ rule.endpoint }}</td>
                {% if access[0] %}
                  {% for a in access %}
                    {% if rule.endpoint == a.endpoint %}
                      <td style="text-align: center;">{{ "{:%Y-%m-%d %H:%M:%S }".format(a.last_accessed) if a.last_accessed }}</td>
                    {% endif %}
                  {% endfor %}
                {% else %}
                  <td></td>
                {% endif %}
                <td>
                  <input id="checkbox-{{ rule.endpoint }}" name="checkbox-{{ rule.endpoint }}"
                         type="checkbox" {{ 'checked' if values[rule.endpoint] }}
                         class="checkbox">
                  <label for="checkbox-{{ rule.endpoint }}"></label>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script>
  $(document).ready(function () {
    $('.checkbox').click(function () {
      var formData = $('#myForm').serialize();

      $.ajax({
        url: '#',
        data: formData,
        type: 'post',
        dataType: 'json'
      });
    });
  });
</script>
{% endblock %}