<ul class="navbar-nav navbar-sidenav nav-pills">
  <li class="nav-item" title="Dashboard">
    <a
      class="nav-link nav-link-collapse collapsed d-flex justify-content-between"
      (click)='toggleMenuState("dashboard")'
    >
      <div>
        <i class="fas fa-tachometer-alt p-1"></i>
        <span class="nav-link-text">Dashboard</span>
      </div>
      <fa-icon *ngIf="!menuState.dashboard" [icon]="chevronDown" />
      <fa-icon *ngIf="menuState.dashboard" [icon]="chevronUp" />
    </a>
    <ul
      class="sidenav-second-level"
      [ngbCollapse]="!menuState.dashboard"
    >
      <li *ngFor="let config of overviewConfig" routerLinkActive="active">
        <a [routerLink]="config.path">{{ config.text }}</a>
      </li>
    </ul>
  </li>

  <li
    class="nav-item"
    *ngIf="endpoint"
  >
    <a
      class="nav-link nav-link-collapse collapsed d-flex justify-content-between"
      (click)='toggleMenuState("endpoint")'
    >
      <div>
        <i class="fa fa-fw fa-asterisk"></i>
        <span class="nav-link-text">{{ endpoint.endpoint }}</span>
      </div>
      <fa-icon *ngIf="!menuState.endpoint" [icon]="chevronDown" />
      <fa-icon *ngIf="menuState.endpoint" [icon]="chevronUp" />
    </a>
    <ul
      class="sidenav-second-level collapse"
      [ngbCollapse]="!menuState.endpoint"
    >
      <li *ngFor="let config of endpointConfig" routerLinkActive="active">
        <a [routerLink]='"endpoint/" + endpoint.id + "/" + config.path'>{{
            config.text
          }}</a>
      </li>
    </ul>
  </li>
  <!--
  <li
    class="nav-item"
    title="Custom graphs"
    ng-show="menu.endpoint.customGraphs.length > 0"
  >
    <a
      class="nav-link nav-link-collapse collapsed"
      data-bs-toggle="collapse"
      data-bs-target="#collapseCustomGraphs"
    >
      <i class="fa fa-fw fa-desktop"></i>
      <span class="nav-link-text">Custom graphs</span>
    </a>
    <ul class="sidenav-second-level collapse" id="collapseCustomGraphs">
      <li
        ng-repeat="graph in menu.endpoint.customGraphs"
        [class]="{'active': activePage=='custom_graph'+graph.graph_id}"
      >
        <a href="custom_graph/{{ graph.graph_id }}">{{ graph.title }}</a>
      </li>
    </ul>
  </li>
-->
  <li class="nav-item" title="Configuration">
    <a
      class="nav-link nav-link-collapse collapsed d-flex justify-content-between"
      (click)='toggleMenuState("configuration")'
    >
      <div>
        <i class="fa fa-fw fa-cog"></i>
        <span class="nav-link-text">Configuration</span>
      </div>
      <fa-icon *ngIf="!menuState.configuration" [icon]="chevronDown" />
      <fa-icon *ngIf="menuState.configuration" [icon]="chevronUp" />
    </a>

    <ul
      class="sidenav-second-level"
      [ngbCollapse]="!menuState.configuration"
    >
      <li *ngFor="let config of configurationConfig" routerLinkActive="active">
        <a [routerLink]="config.path">{{ config.text }}</a>
      </li>
    </ul>
  </li>
</ul>
