{% extends "fmd_dashboard/graph-details.html" %}

{% macro request_title(request) -%}
    {# request is a Request-object #}
    <div class="card-header">
        <h6>Request {{ request.id|string + ': ' + "{:,.1f} ms".format(request.execution_time) }}</h6>
    </div>
{%- endmacro %}

{% macro compute_color(percentage) -%}
    {% set red = 244, 67, 54 %}
    {% set green = 205, 220, 57 %}
    {% set color_0 = red[0] * percentage + green[0] * (1 - percentage) %}
    {% set color_1 = red[1] * percentage + green[1] * (1 - percentage) %}
    {% set color_2 = red[2] * percentage + green[2] * (1 - percentage) %}
    {{ 'rgb({},{},{})'.format(color_0, color_1, color_2) }}
{%- endmacro %}

{% macro table_row(row) -%}
    <tr>
        <td hidden>{{ row.index }}</td>
        <td>{{ row.code }}</td>
        <td style="text-align: right;">{{ row.hits }}</td>
        <td style="text-align: right; width: 20%">
            {{ "{:,.1f} ms".format(row.percentage * average_time) }}
        </td>
        <td style="text-align: right; background-color: {{ compute_color(row.percentage) }}; width: 20%">
            {{ "{:.1f} %".format(row.percentage * 100) }}
        </td>
    </tr>
{%- endmacro %}


{% block graph_content %}
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >
        <thead>
            <tr>
                <th hidden>Line number</th>
                <th>Codestack</th>
                <th>Hits</th>
                <th>Average duration</th>
                <th>Percentage</th>
            </tr>
        </thead>
        <tbody>
            {% for row in table %}
                {{ table_row(row) }}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}