{% extends "fmd_dashboard/graph-details.html" %}

{% macro request_title(request) -%}
    {# request is a Request-object #}
    <div class="card-header">
        <h6>Request {{ request.id|string + ': ' + "{:,.1f} ms".format(request.execution_time) }}</h6>
    </div>
{%- endmacro %}

{% macro compute_color(percentage) -%}
    {% set red = 244, 67, 54 %}
    {% set green = 205, 220, 57 %}
    {% set color_0 = red[0] * percentage + green[0] * (1 - percentage) %}
    {% set color_1 = red[1] * percentage + green[1] * (1 - percentage) %}
    {% set color_2 = red[2] * percentage + green[2] * (1 - percentage) %}
    {{ 'rgb({},{},{})'.format(color_0, color_1, color_2) }}
{%- endmacro %}

{% macro table_row(index, lines, execution_time, request) -%}
    {% set line = lines[index] %}
    {% set total_hits = lines[0].value %}
    {% set body = get_body(index, lines) %}
    {% set percentage = line.value / lines[0].value if lines[0].value > 0 else 1 %}

    <tr>
        <td hidden>{{ line.line_number }}</td>
        <td style="padding-left: {{ 10 + 15 * line.indent }}px; width: 60%">
            {{ line.line_text }}
            {% if body %}
                <i class="fa fa-minus-square" style="cursor: pointer;"
                   onclick="toggle_rows( {{'{}, {}, this'.format(body, request.id) }})"></i>
            {% endif %}
        </td>
        <td style="text-align: right; background-color: {{ compute_color(percentage) }}; width: 20%">
            {{ "{:,.1f} ms".format(percentage * execution_time) }}
        </td>
        <td style="text-align: right; background-color: {{ compute_color(percentage) }}; width: 20%">
            {{ "{:.1f} %".format(percentage * 100) }}
        </td>
    </tr>
{%- endmacro %}


{% block graph_content %}
    {% if pagination %}
        {{ pagination.info }}
        {{ pagination.links }}
    {% endif %}
    {% for request, lines in table %}
        <div class="card">
            <div class="card">
                {{ request_title(request) }}
                <div class="card-body table-responsive">
                    <table class="table table-bordered req-id{{ request.id }}" id="dataTable" width="100%" cellspacing="0" >
                        {% set total_hits = lines[0].value %}
                        <thead>
                            <tr>
                                <th hidden>Line number</th>
                                <th>Code-line</th>
                                <th>Duration</th>
                                <th>Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for index in range(lines|length) %}
                                {{ table_row(index, lines, request.execution_time, request) }}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div><br/>

    {% endfor %}
    {% if pagination %}
        {{ pagination.info }}
        {{ pagination.links }}
    {% endif %}
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $('#loading').hide();
        $('#dataTable').DataTable({
            "paging": false,
            "info": false,
            "searching": false
        });
        function toggle_rows(rows, request_id, icon){
            var table = $(".table.table-bordered.req-id" + request_id);

            if (icon.className.indexOf("fa-minus-square") >= 0){
                $(icon).removeClass("fa-minus-square");
                $(icon).addClass("fa-plus-square");

                rows.forEach(function(i){
                    var element = table.find('tr:eq(' + (i + 1) + ')');
                    element.find('.fa').removeClass("fa-plus-square").addClass("fa-minus-square");
                    if (element.is(":visible")){
                        element.hide();
                    }
                });
            } else {
                $(icon).removeClass("fa-plus-square");
                $(icon).addClass("fa-minus-square");

                rows.forEach(function(i){
                    var element = table.find('tr:eq(' + (i + 1) + ')');
                    if (!element.is(":visible")){
                        element.show();
                    }
                });
            }
        }
    </script>
{% endblock %}