{% extends "fmd_dashboard/graph-details.html" %}

{% macro request_title(request) -%}
    <div class="card-header">
        <h6>Request {{ request.id|string + ': ' + "{:,.1f} ms".format(request.execution_time) }}</h6>
    </div>
{%- endmacro %}


{% block graph_content %}
    {{ pagination.info }}
    {{ pagination.links }}
    {% for request, lines in table %}
        <div class="card">
            <div class="card">
                {{ request_title(request) }}
                <div class="card-body">
                    {% for line in lines %}
                        {{ '{:,d} - '.format(line.value)|safe }}
                        {{ ' &nbsp;&nbsp;&nbsp;'|safe * line.indent + line.line_text }}<br/>
                    {% endfor %}
                </div>
            </div>
        </div><br/>

    {% endfor %}
    {{ pagination.info }}
    {{ pagination.links }}
{% endblock %}