<h1>Reporting</h1>
<p>Generate a report to get more insight into how the performance of your service is
    changing.</p>

<!-- Modal -->

@if (selectedAnswer && selectedSummary) {
<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="details-modal"
    aria-hidden="true">
    @if (selectedAnswer && selectedSummary){
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {{ selectedSummary.endpoint_name }} - Median
                    latency
                    {{ selectedAnswer.percentual_diff > 0 ? 'increased' : 'decreased' }}
                    by
                    {{ selectedAnswer.percentual_diff | abs | number:'1' }}%
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="chart"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
    }
</div>


}
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a onclick="selectSection('day')" [ngClass]="activeSection == 'day' ? 'active nav-link' : 'nav-link'">{{
                    currentDay }} vs {{ yesterday }}</a>
            </li>
            <li class="nav-item">
                <a onclick="selectSection('week')"
                    [ngClass]="activeSection == 'week' ? 'active nav-link' : 'nav-link'">Week {{ currentWeekNumber }} vs
                    Week {{ previousWeekNumber }}</a>
            </li>
            <li class="nav-item">
                <a onclick="selectSection('month')"
                    [ngClass]="activeSection == 'month' ? 'active nav-link' : 'nav-link'">{{ monthName }} vs {{
                    previousMonthName }}</a>
            </li>

            <li class="nav-item">
                <a onclick="selectSection('commits')"
                    [ngClass]="activeSection == 'commits' ? 'active nav-link' : 'nav-link'">
                    Compare commits
                </a>
            </li>

            <li class="nav-item">
                <a onclick="selectSection('custom')"
                    [ngClass]="activeSection == 'custom' ? 'active nav-link' : 'nav-link'">Custom</a>
            </li>
        </ul>
    </div>

    <div class="card-body">
        @if(activeSection === 'custom'){
        <div>
            <div class="input-group">
                <input type="datetime-local" [ngModel]="intervals.comparison.from" class="form-control" />
                <input type="datetime-local" [ngModel]="intervals.comparison.to" class="form-control" />
            </div>
        </div>

        <p style="text-align: center; margin-top: 15px">Compared to</p>

        <div style="margin-top:15px; margin-bottom: 15px">
            <div class="input-group">
                <input type="datetime-local" [ngModel]="intervals.baseline.from" class="form-control" />
                <input type="datetime-local" [ngModel]="intervals.baseline.to" class="form-control" />
            </div>
        </div>
        <hr />
        }
        @if (activeSection === 'commits'){
        <div>
            <div class="input-group">
                <select class='form-control' [ngModel]="commitVersion">
                    @for (version of versions; track $index) {
                    <option [value]="version.version">
                        {{ version.date | dateLayout }} : {{ version.version }}
                    </option>
                    }
                </select>
            </div>
        </div>

        <p style="text-align: center; margin-top: 15px">Compared to</p>

        <div style="margin-top:15px; margin-bottom: 15px">
            <div class="input-group">
                <select class='form-control' [ngModel]="baselineCommitVersion">
                    @for (version of versions; track $index) {
                    <option [value]="version.version">
                        {{ version.version }}
                    </option>
                    }
                </select>
            </div>
        </div>
        <hr />
        }
        <div style="display: flex; justify-content: space-between; align-items:center; padding-top: 15px">
            <div>
                <button onclick="generateReport()" type="button"
                    [ngClass]="generating == true ? 'btn btn-primary disabled' : 'btn btn-primary'">
                    @if(generating){
                    <i class='fa fa-spinner fa-spin '></i>
                    {{ generating ? 'Generating...' : 'Generate' }}
                    }
                </button>
                <span style="color: red">
                    {{ error }}
                </span>
            </div>
            <div class="form-check">
                <input type="checkbox" [ngModel]="onlyShowInteresting" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Only Show Significant
                    Results</label>
            </div>
        </div>
        <hr />


        <div class="card">
            <div class="card-body">
                @if (!reports.get(activeSection)) {
                <div style="text-align: center">
                    <i>No report generated yet</i>
                </div>
                }@else {
                @for (summary of reports.get(activeSection); track $index) {

                @if(summary.has_anything_significant || !onlyShowInteresting){
                        <h1>{{ summary.endpoint_name }}</h1>
                        @for(answer of summary.answers; track $index){

                        <ul class="list-group">
                            @if (answer.is_significant && !onlyShowInteresting) {
                            <li class="list-group-item">
                                @switch (answer.type) {
                                @case (answerType.MEDIAN_LATENCY) {
                                @let cast = castToMedianAnswer(answer);
                                <div  style="padding-bottom:15px">
                                    <h4 [ngClass]="cast.percentual_diff > 0 ? 'redText' : 'greenText'">
                                        Median latency
                                        {{ cast.percentual_diff > 0 ? 'increased' : 'decreased' }}
                                        by
                                        {{ cast.percentual_diff | abs | number : '1' }}%</h4>
                                    <p>From {{ cast.baseline_median|number:'1' }}ms
                                        to
                                        {{ cast.median|number:'1' }}ms</p>

                                    <button onclick="selectEntry(summary, answer)" type="button"
                                        class="btn btn-secondary btm-sm" data-bs-toggle="modal"
                                        data-bs-target="#details-modal">
                                        Details
                                    </button>
                                </div>
                                }
                                @case (answerType.STATUS_CODE_DISTRIBUTION) {
                                @let cast = castToStatusDistributionAnswer(answer);
                                <h4>Distribution of status code changed</h4>

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Status code</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let percentage of cast.percentages">
                                            <td>{{ percentage.status_code }}</td>
                                            <td>
                                                {{ percentage.baseline | number:'1' }}%
                                                {{"->"}}
                                                {{ percentage.comparison | number:'1' }}%
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                }
                                }
                            </li>
                            }

                        </ul>

                          }
                        <hr />

                  }
                }
                }
            </div>
        </div>

    </div>
</div>
