<!doctype html>
<html lang="en" ng-app="fmdApp">
<head>
    <title>Flask-MonitoringDashboard</title>
    <base href="{{ url_for('dashboard.index') }}">
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css"
          rel="stylesheet" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"
          rel="stylesheet" type="text/css">
    <link href="{{ url_for('dashboard.static', filename='css/custom.css') }}"
          rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('dashboard.static', filename='img/favicon.ico') }}"/>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="navbar-brand brand-plain">
        <a href="{{ url_for('dashboard.index') }}overview"><h4>Flask Monitoring Dashboard</h4></a>
    </div>

    <div class="collapse navbar-collapse" id="navbarResponsive" ng-controller="MenuController">
        <ul class="navbar-nav navbar-sidenav nav-pills">
            <li class="nav-item" title="Dashboard">
                <a class="nav-link nav-link-collapse collapsed"
                   data-toggle="collapse" href="#collapseDashboard">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Dashboard</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseDashboard">
                    <li ng-class="{'active': menu.page=='overview'}">
                        <a href="{{ url_for('dashboard.index') }}overview">Overview</a></li>
                    <li ng-class="{'active': menu.page=='hourly_load'}">
                        <a href="{{ url_for('dashboard.index') }}hourly_load">Hourly API Utilization</a></li>
                    <li ng-class="{'active': menu.page=='multi_version'}">
                        <a href="{{ url_for('dashboard.index') }}multi_version">Multi Version API Utilization</a></li>
                    <li ng-class="{'active': menu.page=='daily_load'}">
                        <a href="{{ url_for('dashboard.index') }}daily_utilization">Daily API Utilization</a></li>
                    <li ng-class="{'active': menu.page=='api_performance'}">
                        <a href="{{ url_for('dashboard.index') }}api_performance">API Performance</a></li>
                </ul>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" ng-show="menu.endpoint.info.id > 0"
                data-original-title="{% raw %}{{ menu.endpoint.info.endpoint }}{% endraw %}">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseEndpoint">
                    <i class="fa fa-fw fa-asterisk"></i>
                    <span class="nav-link-text">{% raw %}{{ menu.endpoint.info.endpoint }}{% endraw %}</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseEndpoint">
                    <li ng-class="{'active': menu.page=='endpoint_hourly'}">
                        <a href="{{ url_for('dashboard.index') }}endpoint/{% raw %}{{ menu.endpoint.info.id }}{% endraw %}/hourly_load">
                            Hourly API Utilization</a></li>
                    <li ng-class="{'active': menu.page=='endpoint_user_version'}">
                        <a href="{{ url_for('dashboard.index') }}endpoint/{% raw %}{{ menu.endpoint.info.id }}{% endraw %}/version_user">
                            User-Focused Multi-Version Performance</a></li>
                    <li ng-class="{'active': menu.page=='endpoint_ip'}">
                        <a href="{{ url_for('dashboard.index') }}endpoint/{% raw %}{{ menu.endpoint.info.id }}{% endraw %}/version_ip">
                            IP-Focused Multi-Version Performance</a></li>
                    <li ng-class="{'active': menu.page=='endpoint_version'}">
                        <a href="{{ url_for('dashboard.index') }}endpoint/{% raw %}{{ menu.endpoint.info.id }}{% endraw %}/versions">
                            Per-Version Performance</a></li>
                    <li ng-class="{'active': menu.page=='endpoint_user'}">
                        <a href="{{ url_for('dashboard.index') }}endpoint/{% raw %}{{ menu.endpoint.info.id }}{% endraw %}/users">
                            Per-User Performance</a></li>
                    <li ng-class="{'active': menu.page=='endpoint_profiler'}">
                        <a href="{{ url_for('dashboard.index') }}endpoint/{% raw %}{{ menu.endpoint.info.id }}{% endraw %}/profiler">
                            Profiler</a></li>
                    <li ng-class="{'active': menu.page=='endpoint_grouped_profiler'}">
                        <a href="{{ url_for('dashboard.index') }}endpoint/{% raw %}{{ menu.endpoint.info.id }}{% endraw %}/grouped-profiler">
                            Grouped Profiler</a></li>
                    <li ng-class="{'active': menu.page=='endpoint_outlier'}">
                        <a href="{{ url_for('dashboard.index') }}endpoint/{% raw %}{{ menu.endpoint.info.id }}{% endraw %}/outliers">
                            Outliers</a></li>
                </ul>
            </li>

            <li ng-class="{'active': menu.page=='configuration'}" class="nav-item" title="Configuration">
                <a class="nav-link" href="{{ url_for('dashboard.index') }}configuration">
                    <i class="fa fa-fw fa-gear"></i>
                    <span class="nav-link-text">Configuration</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                 <span style="color: #adb5bd;">
                     Automatically monitor the evolving performance of Flask/Python web services
                 </span>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="content-wrapper">
    <div class="container page">
        <div id="content" class="main" ng-view></div>
    </div>
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                Click <a target="_blank" href="http://flask-monitoringdashboard.readthedocs.io">here</a> to read
                advanced documentation.
            </div>
        </div>
    </footer>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Logout?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">Are you sure you want to logout?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary"
                            onclick="document.location.href='{{ url_for('dashboard.logout') }}';">Logout
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-route.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.12.0/d3.min.js"></script>
<script src="https://unpkg.com/sunburst-chart"></script>

<script src="{{ url_for('dashboard.static', filename='js/angular-datatables.js') }}"></script>
<script src="{{ url_for('dashboard.static', filename='js/custom.js') }}"></script>
<script src="{{ url_for('dashboard.static', filename='js/app.js') }}"></script>
<script src="{{ url_for('dashboard.static', filename='js/directives.js') }}"></script>
<script src="{{ url_for('dashboard.static', filename='js/filters.js') }}"></script>
<script src="{{ url_for('dashboard.static', filename='js/controllers.js') }}"></script>
</body>
</html>