{% extends "fmd_base.html" %}
{% block content %}
    <div class="card mb-3">
        <div class="card-header"><h4>Rules</h4></div>
        <div class="card-body">
            <div class="table-responsive">
                <form id="myForm">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                           data-page-length="10">
                        <thead>
                        <tr>
                            <th>Color</th>
                            <th>Rule</th>
                            <th>HTTP Method</th>
                            <th>Endpoint</th>
                            <th>Last accessed</th>
                            <th>Monitor</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in rules %}
                            <tr style="cursor: pointer"
                                onclick='toggleCheck("checkbox-{{ row.endpoint }}")'>
                                <td style="background-color: {{ row.color }}"></td>
                                <td style="max-width: 200px;">{{ row.rule }}</td>
                                <td>{{ ", ".join(row.methods) }}</td>
                                <td style="max-width: 200px;">{{ row.endpoint }}</td>
                                <td style="text-align: center;">{{ "{:%Y-%m-%d %H:%M:%S }".format(row.last_accessed) if row.last_accessed }}</td>
                                <td>
                                    <input id="checkbox-{{ row.endpoint }}" name="checkbox-{{ row.endpoint }}"
                                           type="checkbox" {{ 'checked' if row.monitor }} class="checkbox"
                                           onchange="sendForm(this)">
                                    <label for="checkbox-{{ row.endpoint }}"></label>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        function toggleCheck(checkbox_id) {
            box = document.getElementById(checkbox_id);
            if (box.hasAttribute("checked")) {
                box.removeAttribute("checked")
            } else {
                box.setAttribute("checked", "")
            }
            sendForm(box)
        }

        function sendForm(checkbox) {
            $.ajax({
                url: '#',
                data: {
                    'name': checkbox.name,
                    'value': checkbox.checked
                },
                type: 'post',
                dataType: 'json'
            });
        }
    </script>
    <script type="text/javascript">
        $('#dataTable').DataTable().order([[4, "desc"]]).draw();
    </script>
{% endblock %}