{% extends "dashboard/dashboard-base.html" %}

{% block menu %}
{% set url_heatmap='dashboard.result_heatmap' %}
{% set url_time_hour='dashboard.result_time_per_hour' %}
{% set url_hits_hour='dashboard.result_hits_per_hour' %}
{% set url_version_user='dashboard.result_time_per_version_per_user' %}
{% set url_version_ip='dashboard.result_time_per_version_per_ip' %}
{% set url_version='dashboard.result_time_per_version' %}
{% set url_user='dashboard.result_time_per_user' %}
{% set url_outliers='dashboard.result_outliers' %}

<nav class="navbar navbar-expand-sm navbar-dark" style="background: #343a40; margin-bottom: 15px;">
  <div class="collapse navbar-collapse" id="nav-content">
    <ul class="navbar-nav nav-pills">
      <li class="nav-item">
        <a class="nav-link {{ active_if_is(url_heatmap) }}" href="{{ url_for(url_heatmap, end=details.endpoint) }}">
            <span class="nav-link-text">Heatmap</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ active_if_is(url_time_hour) }}" href="{{ url_for(url_time_hour, end=details.endpoint) }}">
            <span class="nav-link-text">Time per hour</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ active_if_is(url_hits_hour) }}" href="{{ url_for(url_hits_hour, end=details.endpoint) }}">
            <span class="nav-link-text">Hits per hour</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ active_if_is(url_version_user) }}" href="{{ url_for(url_version_user, end=details.endpoint) }}">
            <span class="nav-link-text">Time per version per user</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ active_if_is(url_version_ip) }}" href="{{ url_for(url_version_ip, end=details.endpoint) }}">
            <span class="nav-link-text">Time per version per ip</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ active_if_is(url_version) }}" href="{{ url_for(url_version, end=details.endpoint) }}">
            <span class="nav-link-text">Time per version</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ active_if_is(url_user) }}" href="{{ url_for(url_user, end=details.endpoint) }}">
            <span class="nav-link-text">Time per user</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ active_if_is(url_outliers) }}" href="{{ url_for(url_outliers, end=details.endpoint) }}">
            <span class="nav-link-text">Outliers</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block subcontent %}
<div class="card mb-3">
  <div class="card-header">Summary of endpoint</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <tr>
          <td><b>Endpoint</b></td>
          <td>{{ details.endpoint }}</td>
        </tr>
        <tr>
          <td><b>Added since app version</b></td>
          <td>{{ details.rule.version_added }}</td>
        </tr>
        <tr>
          <td><b>Date added to app</b></td>
          <td>{{ "{:%Y-%m-%d %H:%M:%S }".format(details.rule.time_added) }}</td>
        </tr>
        {% if url %}
          <tr>
            <td><b>Link to endpoint</b></td>
            <td><a href="{{ details.url }}">{{ details.url }}</a></td>
          </tr>
        {% endif %}
        <tr>
          <td><b>Last accessed</b></td>
          <td>{{ "{:%Y-%m-%d %H:%M:%S }".format(details.rule.last_accessed) }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-header">Graphs</div>
  <div class="card-body">

    <div id="loading">
      <div class="col-md-12 col-sm-12">
        <br>
        <div class="text-center">
          <img src="{{ url_for('dashboard.static', filename='loading.gif') }}"
               alt="Be patient..." align="center"/>
        </div>
      </div>
    </div>

    {% block graph_content %}
    {% endblock %}

  </div>
</div>
{% endblock %}

{% block script %}
<script>
  $(window).ready(function () {
    $('#loading').hide();
  });
</script>
{% endblock %}