{% extends "endpoint/main.html" %}
{% block graph_content %}
    <br/>
    <div class="panel panel-default">
        <div class="table-responsive" style="overflow-x: scroll;">
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <td><strong>Date</strong></td>
                    {% for row in table %}<td>{{ row.time }}</td>{% endfor %}
                </tr>
                <tr>
                    <td><strong>Execution time (in ms)</strong></td>
                    {% for row in table %}<td>{{ row.execution_time }}</td>{% endfor %}
                </tr>
                <tr>
                    <td><strong>Request values</strong></td>
                    {% for row in table %}<td>{{ row.request_values }}</td>{% endfor %}
                </tr>
                <tr>
                    <td><strong>Request headers</strong></td>
                    {% for row in table %}<td>{{ row.request_headers }}</td>{% endfor %}
                </tr>
                <tr>
                    <td><strong>Request environment</strong></td>
                    {% for row in table %}<td>{{ row.request_environment }}</td>{% endfor %}
                </tr>
                <tr>
                    <td><strong>Request url</strong></td>
                    {% for row in table %}<td>{{ row.request_url }}</td>{% endfor %}
                </tr>
                <tr>
                    <td><strong>Cpu percent</strong></td>
                    {% for row in table %}<td>{{ row.cpu_percent }}</td>{% endfor %}
                </tr>
                <tr>
                    <td><strong>Memory</strong></td>
                    {% for row in table %}<td>{{ row.memory }}</td>{% endfor %}
                </tr>
                <tr>
                    <td><strong>Stacktrace</strong></td>
                    {% for row in table %}<td>{{ row.stacktrace|safe }}</td>{% endfor %}
                </tr>
            </table>
        </div>
    </div>


{% endblock %}