{% extends "endpoint/details-base.html" %}
{% block form_content %}
{% if form %}
    <div class="card">
        <div class="card-header"><h6>Make a selection</h6></div>
        <div class="card-body">
          <form class="form" method="POST">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-sm-3">
                    <span>{{ form.min_value }}</span>
                </div>
                <div class="col-sm-3" style="text-align: center">
                    <output id="outputValue">{{ form.start_value }}</output>
                </div>
                <div class="col-sm-3" style="text-align: right">
                    <span>{{ form.max_value }}</span>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-9">
                {{ form.slider(style="width: 100%;", oninput="outputValue.value=this.value", min=form.min_value,
                max=form.max_value, value=form.start_value) }}
              </div>
              <div class="col-sm-3">
                {{ form.submit(class_="btn btn-primary btn-block") }}
              </div>
            </div>
          </form>
        </div>
      </div>
{% endif %}
{% endblock %}
{% block graph_content %}

    <div class="col-md-12 col-sm-12">
        {{ graph|safe }}
    </div>
{% endblock %}