{% extends "main.html" %}
{% block content %}
    <header>
        <h1>Dashboard</h1>
        <p>A dashboard for automatic monitoring of python web services</p>
    </header>
    <h2>All tests</h2>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <table class="sortable">
            <tr>
                <th class="clickable">Name: <i>functionName (fileName.className)</i></th>
                <th class="clickable">Run .. times<br>[all versions]</th>
                <th class="clickable">Average run time<br>[all versions]<br>(in ms)</th>
                <th class="clickable">Run .. times<br>[current version]</th>
                <th class="clickable">Average run time<br>[current version]<br>(in ms)</th>
                <th class="clickable">Last run</th>
                <th>Run</th>
            </tr>
            {% for test in tests %}
                <tr>
                    <td>{{ test.name }} <br> <b style="color:green;">{{ "   Succeeded" if test.succeeded }}</b>
                        <b style="color:red;">{{ "   Failed" if test.succeeded == False }}</b>
                        <b style="color:black;">{{ "   Never run" if test.succeeded == None }}</b>
                    </td>
                    {% if results[0] %}
                        {% for result in results %}
                            {% if result.name == test.name %}
                                <td>{{ result.count if result.count else "" }}</td>
                                <td>{{ ((result.average*10)|round)/10 if result.average else "" }}</td>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <td></td>
                        <td></td>
                    {% endif %}
                    {% if res_current_version[0] %}
                        {% for res in res_current_version %}
                            {% if res.name == test.name %}
                                <td>{{ res.count if res.count else "" }}</td>
                                <td>{{ ((res.average*10)|round)/10 if res.average else "" }}</td>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <td></td>
                        <td></td>
                    {% endif %}
                    <td>{{ "{:%Y-%m-%d %H:%M:%S }".format(test.lastRun) if test.lastRun != None else "" }}</td>
                    <td>
                        <input id="checkbox-{{ test.name }}" name="checkbox-{{ test.name }}"
                               type="checkbox" {{ 'checked' if test.run }} >
                        <label for="checkbox-{{ test.name }}"></label>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {{ form.submit() }}
    </form>

    {% if times_data %}
        <h2>Execution time (in ms) per version</h2>
        <div class="container" align="center">
            <embed type="image/svg+xml" src={{ times_data|safe }} style='max-width:1000px'></embed>
        </div> <br/>
    {% endif %}


{% endblock %}